.grid-container {
    display: grid;
    grid-template-columns: repeat(12, auto);
    background-color: white;
    padding: 10px;
  }
  
  .grid-item1 {
    background-color: #F5C6D6;
    grid-column-start: 1;
    grid-column-end: 13;
    border: 5px solid white;
    padding: 20px;
    /*font-size: 30px;
    text-align: center;*/
  }

  .grid-item2 {
      background-color: #EE2E84;
      grid-column-start: 1;
      grid-column-end: 13;
      border: 5px solid white;
      padding: 20px;
  }

  .grid-item3 {
    background-color: #EE2E84;
    grid-column-start: 1;
    grid-column-end: 13;
    border: 5px solid white;
    padding: 20px;
  }

  .grid-item4 {
    background-color: #EE2E84;
    grid-column-start: 1;
    grid-column-end: 13;
    border: 5px solid white;
    padding: 20px;
  }

  .grid-item5 {
    background-color: #EE2E84;
    grid-column-start: 1;
    grid-column-end: 13;
    border: 5px solid white;
    padding: 20px;
  }

  .grid-item6 {
      background-color: #85CFD8;
      grid-column-start: 1;
      grid-column-end: 13;
      border: 5px solid white;
      padding: 20px;
  }

  .grid-item7 {
    background-color: #85CFD8;
    grid-column-start: 1;
    grid-column-end: 13;
    border: 5px solid white;
    padding: 20px;
  }
  
  .grid-item8{
    background-color: #8DC63F;
    grid-column-start: 1;
    grid-column-end: 13;
    border: 5px solid white;
    padding: 20px;
  }

  .grid-item9 {
    background-color: #E76E34;
    grid-column-start: 1;
    grid-column-end: 13;
    border: 5px solid white;
    padding: 20px;
  }

  @media screen and (min-width: 768px){
      .grid-item1{
          padding: 40px}
      .grid-item2 {
          min-height: 40px;
          grid-column-start: 1;
          grid-column-end: 4;
      }
      .grid-item3{
          min-height: 40px;
          grid-column-start: 4;
          grid-column-end: 7;
      }
      .grid-item4{
        min-height: 40px;
        grid-column-start: 7;
        grid-column-end: 10;
      }
      .grid-item5{
        min-height: 40px;
        grid-column-start: 10;
        grid-column-end: 13;
      }

      .grid-item6{
        padding: 40px;
        grid-column-start: 1;
        grid-column-end: 7;
      }

      .grid-item7 {
        min-height: 40px;
        grid-column-start: 7;
        grid-column-end: 13;
      }

      .grid-item8 {
        min-height: 40px;
        grid-column-start: 1;
        grid-column-end: 10;
      }

      .grid-item9 {
        min-width: 40px;
        grid-column-start: 10;
        grid-column-end: 13;
      }
  }
