body {
    background-color: rgb(149, 175, 248);
}



h1 {
    color: blue;
    font-family: sans-serif;
}

table, th {
    border: 2px solid black
}

h3 {
    color: black;
    font-family: sans-serif;
}

p {
    font-family:sans-serif;
    font-size: 15px;
}

table{
    font-family:sans-serif;
    font-size: 15px;
    color:darkgreen;
}

