body{
    background-color: rgb(207, 112, 23)
}

nav {
    position: fixed;
}

div{
    background-color: pink;
}

.borderBox{
    border-color: rgb(46, 3, 9);
    border-width: 5px;
    border-style: solid;
    border-radius: 7%;
}

.headline{
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: -2%;
}

.secondHeadline{
    font-family:sans-serif;
    font-size: 15px;
}

p {
    font-family: sans-serif;
    margin-left: 35%;
}

img {
    float: left;
    margin-top: 5%;
    padding-left: 15px;
}